<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/xml.css' %}" rel="stylesheet" />
    <title>対応するファイルの作り方</title>
</head>
<body>
    <h2>対応するファイルの作り方</h2>
    <div class="box8">
        <p>Step1 :MuseScoreをダウンロードする <a href=" https://musescore.org/ja/download">ダウンロードページ</a></p>
    </div>
    <div>
        <div class="box8">
            <p>Step2 :最初に出ている楽譜を削除し、File → 新規作成で楽譜を新しく作成する</p>
        </div>
        <img src="{% static 'assets/img/1.png' %}" , width="70%"/>
    </div>
    <div>
        <div class="box8">
            <p>Step3 :好きな名前を入力して次へを押す</p>
        </div>
        <img src="{% static 'assets/img/2.png' %}" , width="70%"/>
    </div>
    <div>
        <div class="box8">
            <p>Step4 :一般の大譜表を選択する</p>
        </div>
        <img src="{% static 'assets/img/3.png' %}" , width="70%"/>
    </div>
    <div>
        <div class="box8">
            <p>Step5 :ソロのピアノを選択し次へを押す</p>
        </div>
        <img src="{% static 'assets/img/4.png' %}" , width="70%"/>
    </div>
    <div>
        <div class="box8">
            <p>Step6 :調号は好きなものを選び次へを押す</p>
        </div>
        <img src="{% static 'assets/img/5.png' %}" , width="70%"/>
    </div>
    <div>
        <div class="box8">
            <p>Step7 :拍子の設定を3/4にして完了を押す</p>
        </div>
        <img src="{% static 'assets/img/6.png' %}" , width="70%"/>
    </div>
    <div>
        <div class="box8">
            <p>Step8 :楽譜を作成する　<a href=" https://www.youtube.com/playlist?list=PL2uxwe5uztBC6jhHpuSe458guERJ5ciDy">参考動画</a></p>
        </div>
    <div>
        <div class="box8">
            <p>Step8 :完成した楽譜は、File → エクスポートで拡張子を圧縮MusicXMLファイルにして保存する</p>
        </div>
        <img src="{% static 'assets/img/7.png' %}" , width="70%"/>
    </div>

</body>
</html>