<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/xml.css' %}" rel="stylesheet" />
    <title>モデルの説明</title>
</head>
<body>
    <h2>入出力データの説明</h2>
    <div>
        <div class="box8">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;予備知識として楽譜の構造について知る必要があります。音符には弾く長さが決められており、16分音符，8分音符，4分音符，2分音符，全音符等があります。
                4分音符が約1秒間鍵盤押し続けるということであり、8分音符だと半分の0.5秒間、2分音符だと倍の2秒間というふうになっています。</p>
        </div>
        <img src="{% static 'assets/img/onpu.jpg' %}" , width="40%"/>
    </div>

    <div>
        <div class="box8">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;次に拍子記号というものについてです。どういうものかというと、1小節にどれだけの入るかを決めるものです。4/4，3/4，2/4，6/8などがあるます。4/4だと4分音符が1小節に4個(4秒)入れるという意味です、
                8分音符の場合は8個入ります。拍子記号は曲調によって使い分けられており、今回私が人工知能に学習させたマズルカは3/4で構成されています。</p>
        </div>
        <img src="{% static 'assets/img/byousi.jpg' %}" , width="40%"/>
    </div>

    <div>
        <div class="box8">
            <p> &nbsp;&nbsp;&nbsp;&nbsp;入力データの説明に入っていきます。まずmusic21というライブラリを使い、すべての楽譜データから音符データを1音ずつ取って、使われている音符の種類もつ配列を作成します。
                この時、考慮するのは音の高さだけで、音の長さは気にしなくてもいいです。<br><br>&nbsp;&nbsp;&nbsp;&nbsp;次に得られた音の種類の配列をソートします。私は一番先頭に休符、続いてコードオブジェクト(2個以上の音符がくっ付いているもの)の低音～高音
                続いてノートオブジェクト(普通の音符)の低音～高音というふうにしました。この並びを適当にしていると正常に学習出来ません。ソートを終えたら配列の先頭に"None"を手動で追加します。
                そしてその配列に数字を振り当てて辞書化します。配列の0番目には0を、100番目には100をといった感じです。すべて終えると下の画像のようなデータが完成します。データ数は600個くらいです</p>
        </div>
        <img src="{% static 'assets/img/dict.png' %}" , width="40%"/>
    </div>

    <div>
        <div class="box8">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;上記の通りマズルカは3分の4拍子(3/4)で構成されています、そのため1小節で演奏される秒数は約3秒です。
                その決まりを利用して、1小節を16分音符が12個ある形に変えます。4分音符だった場合16分音符を4個に、8分音符だった場合2個にといった感じです。
                そしてその12個のデータの先頭をNoneと置き、そのNoneと置いたところのデータを答えのデータとし新しい配列に追加していきます。あとはNoneと置く場所をひとつづつずらしていきいます。
                最後まで行うと1小節あたり12個の入力データが作成されます。</p>
        </div>
        <img src="{% static 'assets/img/input.png' %}" , width="40%"/>
    </div>

    <div>
        <div class="box8">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;ディープラーニングの入出力データは数値でないとだめなので、先ほど作成した辞書を使って入出力データを数値化します。あとは正規化等をして学習させていくだけです。</p>
        </div>
        <img src="{% static 'assets/img/suuti.png' %}" , width="40%"/>
    </div>

        <div>
        <div class="box8">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;この入出力データの利点は3つあります。1つ目は入力データが少ないため学習が素早く終わることです。クラシック音楽に関するAIは、新しい音楽を生成するといったものが大半です。
                新しい音楽を生成しようと思ったら音楽の流れをAIに学習させないといけません。そのため入力データの数は100個を超えることも多いです。今回私が作成したAIは、音楽を
                新しく生成するものではなく、入力された音楽にショパンっぽさを追加するというものなので、音楽の流れは入力される楽譜に任せることができます。<br><br>&nbsp;&nbsp;&nbsp;&nbsp;2つ目は音符の種類を減らせることです。
                本来音の高さと音の長さの2つを考量する必要があるので、音符の種類は約4倍になります。音符の種類を減らすと基本的にモデルの精度は高くなります。
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;3つ目は精度の高さです。私は最初にショパンの マズルカの音楽の流れを学習させるAIを作ろうとしました。しかし、ショパンのマズルカは曲ごとに音楽の流れが異なりほとんど学習できないという結果でした。小節ごとに学習させた
                モデルの精度は25%ほどでした。正直高くはないですが、音楽というものは明確な解がないものなので、80~90%といった高精度は難しいと思います。また間違えていたところも正解と近い
                値を取っています。それを加味したら62%でした。これらのことから精度が低い原因は単純にデータ数の不足な気がします。</p>
        </div>
    </div>


    <h2>モデルの構造</h2>
    <div>
        <div class="box8">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;モデルは多層構造のニューラルネットワーク（深層学習）で2000ニューロンの層が2層、1000ニューロンの層が4層、500ニューロンの層が6層の計12層で構築されています。
                活性化関数はReLu関数とSoftMax関数で最適化アルゴリズムはAdamを利用しています。</p>
        </div>
        <img src="{% static 'assets/img/network.jpg' %}" , width="45%"/>
        <img src="{% static 'assets/img/model.png' %}" , width="30%"/>
    </div>
</body>
</html>